a {
    color: white;
    forn-size: 70px;
}
body {
    background: white url("https://kartinkin.net/uploads/posts/2021-01/1611848766_55-p-krutie-gradientnie-foni-59.jpg") no-repeat;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}